In [16]:
import pandas as pd
import numpy as np

In [17]:
df_to = pd.read_excel("toronto-FSAs.xlsx",header=0,names=["Postcode","Borough","Neighbourhood"])

In [18]:
df_to.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 3 columns):
Postcode         288 non-null object
Borough          288 non-null object
Neighbourhood    288 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [19]:
df_to1 = df_to[df_to["Borough"] != "Not assigned "]

In [20]:
df_to1.head()

  Postcode            Borough     Neighbourhood
2     M3A         North York          Parkwoods
3     M4A         North York   Victoria Village
4     M5A   Downtown Toronto       Harbourfront
5     M5A   Downtown Toronto        Regent Park
6     M6A         North York   Lawrence Heights

In [7]:
#df_to2 = df_to1.sort_values('Postcode')

In [6]:
#df_to2

In [21]:
df_to2 = df_to1.groupby(['Postcode','Borough'], as_index=False, sort=False).agg(','.join)

In [22]:
df_to2.head()

  Postcode            Borough                    Neighbourhood
0     M3A         North York                         Parkwoods
1     M4A         North York                  Victoria Village
2     M5A   Downtown Toronto          Harbourfront,Regent Park
3     M6A         North York   Lawrence Heights,Lawrence Manor
4     M7A       Queen's Park                      Not assigned

In [25]:
df_to2.replace('Not assigned', 'Queen\'s Park', inplace = True)

In [26]:
df_to2.head(11)

   Postcode            Borough                    Neighbourhood
0      M3A         North York                         Parkwoods
1      M4A         North York                  Victoria Village
2      M5A   Downtown Toronto          Harbourfront,Regent Park
3      M6A         North York   Lawrence Heights,Lawrence Manor
4      M7A       Queen's Park                      Queen's Park
5      M9A          Etobicoke                  Islington Avenue
6      M1B        Scarborough                     Rouge,Malvern
7      M3B         North York                   Don Mills North
8      M4B          East York    Woodbine Gardens,Parkview Hill
9      M5B   Downtown Toronto           Ryerson,Garden District
10     M6B         North York                         Glencairn

In [27]:
df_to2.shape

(103, 3)